.panel_container {
    display: flex;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
}

.left {
    padding: 20rem;
    height: 100%;
    z-index: 1;
}

.gutter {
    z-index: 2;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: rgba(39, 70, 233, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    pointer-events: auto;
}

.gutter:hover, .gutter.active {
    background: rgba(39, 70, 233, 1)
}
